<style>
  h2 {
  background: linear-gradient(to right, var(--primary_colour), var(--secondary_colour));
  -webkit-background-clip: text;   /* For Safari and Chrome */
  background-clip: text;           /* Standard */
  -webkit-text-fill-color: transparent;  /* For Safari and Chrome */
  color: transparent;              /* For other browsers */
}
</style>

<div class="container" id="display", style="background-image: url('<%= asset_path('andrew.jpg') %>'">
  <div style="padding: 0px; background-color: rgb(52, 52, 52, 0);">
    <%= link_to memberships_path do %>
    <%= image_tag("arrow-left-thin-circle-outline.png", alt: "Home", id: "clickable-image", style:"width: 40px; height: auto; padding: 0px;") %>
    <% end %>
  </div>

  <h1 class="header_title">Lion's Pool Swim Pass</h1>

  
  <div class= "log">
    <div style="display: flex; align-items: center; gap: 10px;">
      <%= image_tag 'table-plus.png', alt: 'Add to calendar', style: 'height: 30px;' %>
      <h2 style="margin: 0;">Log a Swim</h2>
    </div>

    <p>
      <%= form_with url: swims_path, method: :post, local: true do %>
        <div style="display: flex; gap: 10px; align-items: center; flex-wrap: wrap;">
          <%= label_tag :swim_type, "Type" %>
          <%= select_tag :swim_type, options_for_select([["Lane", "lane"], ["Open", "open"]]), autofocus: true %>

          <%= label_tag :date, "Date" %>
          <%= date_field_tag :date, Date.today %>
        </div>
        <p>
          <%= submit_tag "Log", class: "btn", style: "padding:0.5em;"%>
        </p>
      <% end %>
    </p>
  </div>

  <div class = "season">
    <div style="display: flex; align-items: center; gap: 10px;">
      <%= image_tag 'counter.png', alt: 'Counter', style: 'height: 30px;' %>
      <h2 style="margin:0">Season Info</h2>
    </div>
      <p>Season End: <%= @season_end.strftime("%B %d, %Y") %></p>
      <p>Days Remaining: <%= @days_remaining %></p>
  </div>

  <div class="completed">
    <div style="display: flex; align-items: center; gap: 10px;">
      <%= image_tag 'check-decagram-outline.png', alt: 'Checkmark', style: 'height: 30px;' %>
      <h2 style="margin:0";>Swims completed</h2>
    </div>
      <p>Lane Swims: <%= @lane_count %></p>
      <p>Open Swims: <%= @open_count %></p>
  </div>

  <div class="break_even">
    <div style="display: flex; align-items: center; gap: 10px;">
       <%= image_tag 'information-slab-circle-outline.png', alt: 'Info circle', style: 'height: 30px;' %>
      <h2 style="margin: 0;">To break even, you need</h2>
    </div>
      <p><strong><%= @remaining_lane %> </strong>more Lane Swims or</p>
      <p><strong><%= @remaining_open %></strong> more Open Swims </p>
  </div>
</div>
