<style>
  h2 {
  background: linear-gradient(to right, var(--primary_colour), var(--secondary_colour));
  -webkit-background-clip: text;   /* For Safari and Chrome */
  background-clip: text;           /* Standard */
  -webkit-text-fill-color: transparent;  /* For Safari and Chrome */
  color: transparent;              /* For other browsers */
}
</style>

<div class="container" id="display", style="background-image: url('<%= asset_path('andrew.jpg') %>'">
  <% if flash[:notice] %>
    <div class="flash notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:alert] %>
    <div class="flash alert"><%= flash[:alert] %></div>
  <% end %>
  
  <div style="padding: 0px; background-color: rgb(52, 52, 52, 0);">
    <%= link_to memberships_path do %>
    <%= image_tag("arrow-left-thin-circle-outline.png", alt: "Home", id: "clickable-image", style:"width: 40px; height: auto; padding: 0px;") %>
    <% end %>
  </div>

  <h1 class="header_title">Lion's Pool Season Pass</h1>
  
  <div class= "log">
    <div style="display: flex; align-items: center; gap: 10px;">
      <%= image_tag 'table-plus.png', alt: 'Add to calendar', style: 'height: 30px;' %>
      <h2 style="margin: 0;">Log a Swim</h2>
    </div>

    <p>
      <%= form_with url: swims_path, method: :post, local: true do %>
        <div style="display: flex; gap: 10px; align-items: center; flex-wrap: wrap; font-family: 'Quicksand', sans-serif";>
          <%= label_tag :swim_type, "Type" %>
          <%= select_tag :swim_type, options_for_select([["Lane", "lane"], ["Open", "open"]]), autofocus: true %>            

          <%= label_tag :date, "Date" %>
          <%= date_field_tag :date, Date.today, max: @season_end %>     
        </div>
        <p>
          <%= submit_tag "Log", class: "btn", style: "padding:0.5em;"%>
        </p>
      <% end %>
    </p>
  </div>

  <div class = "season">
    <div style="display: flex; align-items: center; gap: 10px;">
      <%= image_tag 'counter.png', alt: 'Counter', style: 'height: 30px;' %>
      <h2 style="margin:0">Season Info</h2>
    </div>
      <p>  
        <%= @days_remaining == 0 ? "Season Ended" : "Season Ends" %>: 
        <%= @season_end.strftime("%B %d, %Y") %>
      </p>
      <p>Days Remaining: <%= @days_remaining %></p>
  </div>

  <div class="completed">
    <div style="display: flex; align-items: center; gap: 10px;">
      <%= image_tag 'check-decagram-outline.png', alt: 'Checkmark', style: 'height: 30px;' %>
      <h2 style="margin:0";>Swims completed</h2>
    </div>
      <p>Lane Swims: <%= @lane_count %></p>
      <p>Open Swims: <%= @open_count %></p>
  </div>

  <div class="break_even">
    <div style="display: flex; align-items: center; gap: 10px;">
       <%= image_tag 'information-slab-circle-outline.png', alt: 'Info circle', style: 'height: 30px;' %>

      <% if @bonus_lane > 0 || @bonus_open > 0 %>
        <h2 style="margin: 0;">You broke even and have earned:</h2>
      <% elsif @remaining_lane == 0 || @remaining_open == 0 %>
        <h2 style="margin: 0;">You broke even! Now all future swims will be free!</h2>
      <% else %>
        <h2 style="margin: 0;">To break even, you need:</h2>
      <% end %>
    </div>

    <% if @bonus_lane > 0 || @bonus_open > 0 %>
      <% if @bonus_lane > 0 %>
        <p><strong><%= @bonus_lane %></strong> free Lane Swim<%= 's' if @bonus_lane > 1 %>!</p>
      <% end %>

      <% if @bonus_open > 0 %>
        <p><strong><%= @bonus_open %></strong> free Open Swim<%= 's' if @bonus_open > 1 %>!</p>
      <% end %>
    <% elsif @remaining_lane > 0 || @remaining_open > 0 %>
      <p><strong><%= @remaining_lane %></strong> more Lane Swim<%= 's' if @remaining_lane > 1 %> or</p>
      <p><strong><%= @remaining_open %></strong> more Open Swim<%= 's' if @remaining_open > 1 %></p>
    <% end %>

  </div>

  <div class="history">
    <div style="display: flex; align-items: center; gap: 10px;">
      <%= image_tag 'history.png', alt: 'Clock with arrow history circle', style: 'height: 30px;' %>
      <h2 style="margin: 0;">History</h2>
    </div>
    <p>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Modify</th>
          </tr>
        </thead>
        <tbody>
          <% @swims.order(date: :desc).each do |swim| %>
            <tr>
              <td><%= swim.date.strftime("%B %d, %Y") %></td>
              <td><%= swim.swim_type.capitalize|| "Unknown"  %></td>
              <td>
               <%= button_to "Delete", swim_path(swim), method: :delete, data: { confirm: "Are you sure you want to delete this swim?" }, class: "btn", form: { style: "display: inline;" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
   </p>
</div>
