<div class="container" id="display" style="height: 100vh; background-image: url('<%= asset_path('andrew.jpg') %>'">
    <div style="padding: 0px; background-color: rgb(52, 52, 52, 0);">
        <%= image_tag("dots-horizontal.png", alt: "Home", id: "clickable-image", style:"width: 40px; height: auto; padding: 0px; float: right;") %>
    </div>

    <h1 class="header_title" style="background-color: rgb(52, 52, 52, 0);">Is it worth it? Let me work it!</h1>

    <div class="hero-divider" style="padding: 0px; width: 60%;"></div>

    <div style="background-color: rgb(52, 52, 52, 0);">
        <%= image_tag("ocean.png", style: "display:flex; margin: 20px auto; width: 200px; height: auto;") %>
    </div>

    <h2 class="comeon" style="background-color: rgb(52, 52, 52, 0); padding-top: 0px;">Fay's Subscription Utilization Tracker</h2>

    <div class="options" style="background-color: rgb(52, 52, 52, 0);">
            <%= link_to "View existing", memberships_path, class: "btn" %>
            <%= link_to "Add new", swims_path, class: "btn" %>
    </div>
</div>